# Created by .ignore support plugin (hsz.mobi)
/.gitignore
/*.iml
/*.idea/
CNN/src/
CNN/target/classes/testPages/
CNN/target/generated-sources/
CNN/target/generated-test-sources/
CNN/target/test-classes/CnnRunner.xml
CNN/target/test-classes/testPages/HomePageTest.class
Generic/target/generated-sources/
